<!DOCTYPE html>
<html>
  <body>
    <header>
      <div class="container">
        <h1 class="logo">Inventory Web Tracking Application Prototype</h1>
        <strong><nav>
          <ul class="menu">
            <li><a href="{{ url_for('item_database') }}">Item Management</a></li>
            <li><a href="{{ url_for('wh_database') }}">Warehouse Management</a></li>
          </ul>
        </nav></strong>
      </div>
    </header>
    <div class="container">
      {% block content %}
      {% endblock %}
    </div>
  </body>
</html>