<html>
    <head>
         <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.1.0/css/all.css" integrity="sha384-lKuwvrZot6UHsBSfcMvOkWwlCMgc0TaWr+30HWe3a4ltaBwTZhyTEggF5tJv8tbt" crossorigin="anonymous">
         <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB" crossorigin="anonymous">
         <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js" integrity="sha384-smHYKdLADwkXOn1EmN1qk/HfnUcbVRZyYmZ4qpPea6sjB/pTJ0euyQp0Mk8ck+5T" crossorigin="anonymous"></script>
    </head>
   <body>
       
        <div class ='row'>
            <div style='margin-left:100px;'>
            <img src = 'http://www.itsimplified-ms.com/posts/photos/databases.png'>
            </div>
            <div style='padding-top: 20px; padding-left:600px;'><h3>
             Inventory Web Tracking Application Prototype
            </h3></div>
        </div> <!--ends intro -->

        <br>
       <div class ='row'>

            {% block content %}
            {% if 'query_edit' in request.url %}
            <div style='margin-left: 600px; width: 45%;'>
            <div class="alert alert-info" role="alert">
               <strong>Edit the selected data line here!</strong> 
            </div>

            {% for eresult in eresults %}

            <form action = "edit" method = "POST">
                  <p>Item Name: <input class="form-control" type = "text" name = "item_name" style='width: 100%;' value='{{eresult["item_name"]}}'/></p>
                  <p>Tracking Number: <input class="form-control" type = "text" name = "track_num" style='width: 100%;' value='{{eresult["track_num"]}}' /></p>
                  <p>Quantity: <input class="form-control" type = "text" name = "quantity" style='width: 100%;' value='{{eresult["quantity"]}}' /></p>

                  
                  <p>Warehouse: 
                        <SELECT name="warehouse" class="form-control" style='width: 100%;' value='{{eresult["warehouse"]}}'>
                            <OPTION value={{eresult["warehouse"]}}>{{eresult["warehouse"]}}</option>
                            {% for warehouse in warehouses %}
                                <OPTION value={{warehouse["name"]}}>{{warehouse["name"]}}</option>
                            {% endfor %}
                        </SELECT>
                  </p>

                  <input type ="hidden" name = "old_item_name" value='{{eresult["item_name"]}}' />
                  <input type ="hidden" name = "old_track_num" value='{{eresult["track_num"]}}' />

                  {% endfor %}

                  <br>

                  <p><input class="btn-primary" type = "submit" value = "Update Data" />
                  <button class="btn-primary" onclick="location.href='/'" type="button">Main Menu</button></p>
            </form>
        </div>

        {% else %}
        <div style='margin-left: 600px; width: 45%;'>
        <div class="alert alert-info" role="alert">
           <strong> Insert inventory items into the fields below.</strong>
        </div>
        
        <form action = "insert" method = "POST">
         <p>Item Name: <input class="form-control" type = "text" name = "item_name" style='width: 100%;' /></p>
         <p>Tracking Number: <input class="form-control" type = "text" name = "track_num" style='width: 100%;' /></p>
         <p>Quantity: <input class="form-control" type = "text" name = "quantity" style='width: 100%;' /></p>
         

         <p>Warehouse: <SELECT name="warehouse" class="form-control" style='width: 100%;'>
                {% for warehouse in warehouses %}
                    <OPTION value={{warehouse["name"]}}>{{warehouse["name"]}}</option>
                {% endfor %}
            </SELECT>
         </p>
   

         
         <br>

         <p><input class="btn-primary" type = "submit" value = "Insert Data" />
         <button class="btn-primary" onclick="location.href='/'" type="button">Main Menu</button></p>
        </form>
        </div>


        {% endif %}
        {% endblock content %}

        </div> <!-- ends row div -->

      <br><br>

        <div class="alert alert-success" role="alert" style='width: 90%; margin-left: 100px;'>
        <strong>A data table below will be displayed for any inputted items.</strong>
        </div>

      <table class = 'table table-hover' style = 'margin-left: 100px; margin-right: 100px; width: 90%;'>
         <thead>
            <tr>
            <th>Item Name</th>
            <th>Tracking Number</th>
            <th>Quantity</th>
            <th>Warehouse</th>
            <th>EDIT</th>
            <th>DELETE</th>
            </tr>
         </thead>

         {% for result in results %}
            <tr>
               <td>{{result["item_name"]}}</td>
               <td>{{result["track_num"]}}</td>
               <td>{{result["quantity"]}}</td>
               <td>{{result['warehouse']}}</td>
               <td align="center"><a href = "{{ url_for('item_editlink', ei_name=result['item_name'], et_num=result['track_num']) }}"><i class="fas fa-edit"></a></td>
               <td align="center"><a href = "{{ url_for('item_datadelete', i_name=result['item_name'], t_num=result['track_num']) }}"><i class="fas fa-trash-alt"></a></td>
            </tr>
         {% endfor %}
      </table>

    </body>
</html>