<html>
    <head>
         <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.1.0/css/all.css" integrity="sha384-lKuwvrZot6UHsBSfcMvOkWwlCMgc0TaWr+30HWe3a4ltaBwTZhyTEggF5tJv8tbt" crossorigin="anonymous">
         <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB" crossorigin="anonymous">
         <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js" integrity="sha384-smHYKdLADwkXOn1EmN1qk/HfnUcbVRZyYmZ4qpPea6sjB/pTJ0euyQp0Mk8ck+5T" crossorigin="anonymous"></script>
    </head>
    <body>
       
      <div class ='row'>
          <div style='margin-left:100px;'>
          <img src = 'http://www.itsimplified-ms.com/posts/photos/databases.png'>
          </div>
          <div style='padding-top: 20px; padding-left:600px;'><h3>
           Inventory Web Tracking Application Prototype
          </h3></div>
      </div> <!--ends intro -->

      <br>
     <div class ='row'>

          {% block content %}
          {% if 'query_edit' in request.url %}
          <div style='margin-left: 600px; width: 45%;'>
          <div class="alert alert-info" role="alert">
             <strong>Edit the selected warehouse name here!</strong>
          </div>

          {% for eresult in eresults %}

          <form action = "edit_warehouse" method = "POST">
                <p>Name: <input class="form-control" type = "text" name = "name" style='width: 100%;' value='{{eresult["name"]}}'/></p>
                <input type ="hidden" name = "old_name" value='{{eresult["name"]}}' />

                {% endfor %}

                <br>

                <p><input class="btn-primary" type = "submit" value = "Update Data" />

                <button class="btn-primary" onclick="location.href='/'" type="button">Main Menu</button></p>

          </form>
      </div>

      {% else %}
      <div style='margin-left: 600px; width: 45%;'>
      <div class="alert alert-info" role="alert">
         <strong> Add the desired warehouse name in the field below.</strong>
      </div>
      
      <form action = "insert_warehouse" method = "POST">
       <p>Name: <input class="form-control" type = "text" name = "name" style='width: 100%;' /></p>
       <br>

       <p><input class="btn-primary" type = "submit" value = "Insert Data" />

       <button class="btn-primary" onclick="location.href='/'" type="button">Main Menu</button></p>

      </form>
      </div>


      {% endif %}
      {% endblock content %}

      </div> <!-- ends row div -->

 <br><br>

        <div class="alert alert-success" role="alert" style='width: 90%; margin-left: 100px;'>
        <strong>A data table below will be displayed for all warehouse locations.</strong>
        </div>

      <table class = 'table table-hover' style = 'margin-left: 100px; margin-right: 100px; width: 90%;'>
         <thead>
            <tr>
            <th>Warehouse Name</th>
            <th>EDIT</th>
            <th>DELETE</th>
            </tr>
         </thead>

         {% for result in results %}
            <tr>
               <td>{{result["Name"]}}</td>
               <td align="center"><a href = "{{ url_for('sql_editlink_w', name=result['name']) }}"><i class="fas fa-edit"></a></td>
               <td align="center"><a href = "{{ url_for('sql_datadelete_w', name=result['name']) }}"><i class="fas fa-trash-alt"></a></td>
            </tr>
         {% endfor %}
      </table>

    </body>
</html>

